{% load static %} 
<header>
	<nav>
		<img class="logo" src="{% static 'images/logo.png' %}" alt="Pokeball Logo">
		<ul id="menu">
			<li class="menu-item"><a href="{% url 'index' %}">Home</a></li>
			<li class="menu-item"><a href="{% url 'about' %}">About</a></li>
			<li class="menu-item"><a href="{% url 'trainers' %}">Trainers</a></li>
			<li class="menu-item">Battle</li>
		</ul>
		<span id="menu-btn" class="material-symbols-outlined">
			menu
		</span>
	</nav>
</header>
<script>
	let menu_button = document.querySelector('#menu-btn');
	menu_button.addEventListener({
		if (menu_button.classList.contains('open') {
			menu_button.classList.remove('open');
		} else {
			menu_button.classList.add('open');
		}
	});
</script> 